
button:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
  border-color: #333 !important;
}

a:hover {
  text-decoration: none !important;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: brand;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.react-datepicker,
.react-datepicker__header,
.react-datepicker__day-name,
.react-datepicker__current-month,
.react-datepicker__day,
.react-datepicker__time-list-item,
.react-datepicker__today-button {
  z-index: 1000 !important;
  background: #232626 !important;
  color: white !important;
  border-color: gray !important;
}
.react-datepicker__day--today {
  background: #8d8d8d !important;
  color: #333 !important;
}
.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected {
  background: white !important;
  color: #333 !important;
}

#modal-1-header,
#modal-1-body {
  background: #232626 !important;
}
